{{ ansible_managed | comment('c') }}

// Perform unattended upgrades, it installs the available upgrades similar to the command 'sudo apt upgrade'
APT::Periodic::Unattended-Upgrade "1";

{% if updater_unattended_update_package_list is defined %}
// Update the package lists, it is similar to running the 'sudo apt update' command
APT::Periodic::Update-Package-Lists "{{updater_unattended_update_package_list}}";
{% endif %}

{% if updater_unattended_download_upgradeable is defined %}
APT::Periodic::Download-Upgradeable-Packages "{{updater_unattended_download_upgradeable}}";
{% endif %}

{% if updater_unattended_autoclean_interval is defined %}
APT::Periodic::AutocleanInterval "{{updater_unattended_autoclean_interval}}";
{% endif %}

{% if updater_unattended_clean_interval is defined %}
APT::Periodic::CleanInterval "{{updater_unattended_clean_interval}}";
{% endif %}

{% if updater_unattended_verbose is defined %}
APT::Periodic::Verbose "{{updater_unattended_verbose}}";
{% endif %}

{% if updater_unattended_random_sleep is defined %}
APT::Periodic::RandomSleep "{{updater_unattended_random_sleep}}";
{% endif %}
